<div class="container">
    <table datatable [dtOptions]="dtOptions" class="row-border table table-light hover w-100">
        <thead>
            <tr>
                <th>Date / heure début</th>
                <th>Date / heure fin</th>
                <th>Immatriculation</th>
                <th>Marque</th>
                <th>Modèle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>22/06/2017 12h30</td>
                <td>22/06/2017 18h30</td>
                <td>AA-2502</td>
                <td>Peugeot</td>
                <td>2008</td>
            </tr>
        </tbody>
      </table>
</div>
