<div class="container">
    <table datatable [dtOptions]="dtOptions" class="row-border table table-light hover w-100">
        <thead>
            <tr>
                <th>Date / heure de départ</th>
                <th>Lieu de départ</th>
                <th>Lieu de destination</th>
                <th>Nombre de voyageurs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>22/06/2017 12h30</td>
                <td>Gare de Nantes</td>
                <td>Gare de Saint-Nazaire</td>
                <td>3</td>
            </tr>
        </tbody>
      </table>
</div>
