
<!-- <button (click)="rafraichir()" type="button" class="btn btn-secondary">Rafraichir</button> -->
<div class="form-floating">
    <input type="text" class="form-control" id="floatingImma" name="filtreImma" >
    <label for="floatingImma">Immatriculation</label><br>
</div>
<div class="form-floating">
    <input type="text" class="form-control" id="floatingMarque" name="filtreMarque">
    <label for="floatingMarque">Marque</label><br>
</div>   
<button (click)="filtrerListe()" type="button" class="btn btn-secondary">Rechercher</button>
