<ng-container *ngIf="resaVehicule | async as reservations; else noData">

    <div *ngIf="reservations.length === 0; else data">
        <div class="container">
            <div class="alert alert-danger text-center" role="alert">
                Aucunes réservations de véhicule de service enregistrées...
            </div>
        </div>
    </div>

    <ng-template #data>
        <div class="container">
            <table datatable [dtOptions]="dtOptions" class="row-border table table-light table-striped hover w-100">
                <thead class="table-info">
                    <tr>
                        <th>Date / heure début</th>
                        <th>Date / heure fin</th>
                        <th>Immatriculation</th>
                        <th>Marque</th>
                        <th>Modèle</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resa of reservations">
                        <td>Le {{resa.dateHeureDepart | date:'dd/MM/yyyy'}} à {{resa.dateHeureDepart | date:'HH:mm'}}</td>
                        <td>Le {{resa.dateHeureRetour | date:'dd/MM/yyyy'}} à {{resa.dateHeureRetour | date:'HH:mm'}}</td>
                        <td>{{resa.vehicule.immatriculation | uppercase}}</td>
                        <td>{{resa.vehicule.marque | uppercase}}</td>
                        <td>{{resa.vehicule.modele | lowercase}}</td>
                        <td class="d-flex justify-content-end">
                            <button class="btn btn-primary ms-2" (click)="detailReservation(resa.id)" data-bs-toggle="modal" data-bs-target="#modalCovoiturage">Détails</button>
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </ng-template>

</ng-container>

<ng-template #noData>
    <div class="container">
        <div class="alert alert-info text-center" role="alert">
            Chargement des données en cours...
        </div>
    </div>
</ng-template>