
<aside>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2>Liste des véhicules de service</h2>
            </div>
            <div class="col-4">
                <app-nouveau-vehicule></app-nouveau-vehicule>
            </div>
        </div>
        <hr>
        <div class="row mb-3">

            <div class="col-8 d-flex align-items-center">
                <app-filtre-vehicule></app-filtre-vehicule>
            </div>
        </div>
    </div>
</aside>
<app-liste-vehicule></app-liste-vehicule>
