<aside>
    <div class="container">
        <app-titre-page-component [titrePage]="titrePage" [libelleBtn]="libelleBtn" [lien]="lien" [classBtn]="classBtn"></app-titre-page-component>
        <hr>
        <div class="row mb-3">
            <div class="col-12">
                <button class="btn btn-outline-danger me-2" (click)="btnFormReset.click()">Annuler</button>
                <button class="btn btn-outline-success me-2" (click)="btnFormSubmit.click()" [disabled]="formulaire.invalid">Valider ma réservation</button>
            </div>
        </div>
    </div>
</aside>

<div class="container">
    <div class="row">
        <div class="col-4">
            <form appHeureReservationVehicule appDateMinReservationVehicule appDateReservationVehicule #formulaire="ngForm" (ngSubmit)="valider(formulaire)">

                <div class="form-check form-switch mb-3">
                    <input [(ngModel)]="reservation.demandeChauffeur" #demandeChauffeur="ngModel" class="form-check-input" type="checkbox" role="switch" id="demandeChauffeur" name="demandeChauffeur">
                    <label class="form-check-label" for="demandeChauffeur">Avec chauffeur</label>
                </div>
                
                <div class="form-floating mb-2">
                    <input [(ngModel)]="reservation.dateDepart" #dateDepart="ngModel" type="date" class="form-control" id="dateDepart" name="dateDepart" min="{{dateMin}}"  required autofocus>
                    <label for="dateDepart">Date de début *</label>
                </div>
                <p *ngIf="dateDepart.dirty && dateDepart.getError('required')" class="text-danger">La date de départ est obligatoire.</p>
                
                <div class="form-floating mb-2">
                    <input [(ngModel)]="reservation.heureDepart" #heureDepart="ngModel" type="time" class="form-control" id="heureDepart" name="heureDepart" min="07:00" max="21:00" required>
                    <label for="heureDepart">Heure de début*</label>
                </div>
                
                <div class="form-floating mb-2">
                    <input [(ngModel)]="reservation.dateRetour" #dateRetour="ngModel" type="date" class="form-control" id="dateRetour" name="dateRetour" min="{{dateMin}}" required>
                    <label for="dateRetour">Date de retour*</label>
                </div>
                <p *ngIf="dateRetour.dirty && formulaire.getError('dateMinInvalide')" class="text-danger">La date de départ et de retour doivent être supérieures ou égales au {{dateMinMsg}}. La date de retour doit être supérieure ou égale à la date de départ.</p>
                <p *ngIf="dateRetour.dirty && formulaire.getError('dateRetourInvalide')" class="text-danger">La date de retour doit être supérieure ou égale à la date de départ.</p>
                <div class="form-floating mb-2">
                    <input [(ngModel)]="reservation.heureRetour" #heureRetour="ngModel" type="time" class="form-control" id="heureRetour" name="heureRetour" min="07:00" max="21:00" required>
                    <label for="heureRetour">Heure de retour*</label>
                </div>
                <p *ngIf="heureRetour.dirty && formulaire.getError('heureInvalide')" class="text-danger">L'heure de départ et de retour doivent être comprises entre 7h00 et 21h00. L'heure de retour doit être supérieure à l'heure de départ.</p>

                <input [(ngModel)]="reservation.vehicule" #vehicule="ngModel" type="text" id="vehicule" name="vehicule" class="form-control invisible" [value]="vehiculeSelectionne" required>
                
                <button #btnFormSubmit type="submit" class="btn btn-success invisible">Valider</button>
                <button #btnFormReset type="reset" class="btn btn-success invisible">Annuler</button>

            </form>
        </div>
        <div class="col-8 ps-5 pe-5">

            <ng-container *ngIf="vehicules as vehicules;">
                <div id="CarouselSlider" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner" >
                        <div *ngFor="let vehicule of vehicules;index as i" class="carousel-item {{(i==0)?'active':''}}" >
                            <img [src]="vehicule.photo" class="d-block w-100" alt="Carousel One">
                            <div class="carousel-caption text-white d-none d-md-block col-6">
                                <h3>{{vehicule.marque}} - {{vehicule.modele}}</h3>
                                <p>{{vehicule.categorie}}</p>
                                <button class="btn btn-warning mt-2" (click)="selectionVehicule(vehicule.id.toString())">Réserver</button>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#CarouselSlider" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#CarouselSlider" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </ng-container>

        </div>
    </div>
</div>