<div class="container">
    <table datatable [dtOptions]="dtOptions" class="row-border table table-light hover w-100">
        <thead class="table-secondary">
            <tr>
                <th>Date / heure</th>
                <th>Départ</th>
                <th>Destination</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>22/06/2017 12h30</td>
                <td>Gare de Nantes</td>
                <td>Gare de Saint-Nazaire</td>
                <td class="d-flex justify-content-end">
                    <button class="btn btn-primary ms-2">Détails</button>
                    <button class="btn btn-danger ms-2">Annuler</button>
                </td>
            </tr>
        </tbody>
      </table>
</div>