/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
body {
    background-image: radial-gradient(circle at top right, rgb(13, 141, 190) 0%, rgb(13, 141, 190) 46%, rgb(22, 153, 204) 46%, rgb(22, 153, 204) 49%, rgb(31, 166, 217) 49%, rgb(31, 166, 217) 52%, rgb(40, 178, 231) 52%, rgb(40, 178, 231) 54%, rgb(49, 190, 244) 54%, rgb(49, 190, 244) 100%);
    min-height: 100vh;
    padding-bottom: 3rem;
}